* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  font-size: 13px;
}

:root {
  --main-color: #111111;
  --accent-color: #bFa472;
}

header.global-header {
  height: 52px;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

h1.app-title {
  margin: 0;
  padding: 0;
  font-size: 1.23rem;
}

div.sub-menu {
  height: 52px;
  display: flex;
  padding: 0 16px;
  gap: 16px;
  align-items: center;
  background-color: #555;
  border-bottom: 1px solid #333;
}

button.btnAdd {
  border: 0;
  background-color: #222;
  color: #ddd;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
button.btnAdd:hover {
  opacity: 0.8;
}