.irish-stout,
.irish-stout * {
  box-sizing: border-box;
}

.irish-stout {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #505050;
  position: relative;
  user-select: none;
}

.irish-stout div.node {
  background-color: #303030;
  width: 200px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.irish-stout div.node-header {
  padding: 0px 16px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid #555;
}
.irish-stout h3.node-title {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 0.8rem;
}
.irish-stout input.node-title-input {
  background-color: transparent;
  border: 0;
  color: #eee;
  width: 100%;
  outline: none;
}
.irish-stout div.node-inputs .item {
  height: 36px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.irish-stout div.node-inputs .item .io-label,
.irish-stout div.node-outputs .node-output .io-label {
  background-color: transparent;
  color: #eee;
  border: 0;
  outline: none;
}
.irish-stout div.node-outputs .node-output .io-label {
  text-align: right;
}
.irish-stout div.node .circle {
  border: 0;
  background-color: var(--accent-color);
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 2px;
  border-radius: 9999px;
}
.irish-stout div.node .circle:hover,
.irish-stout div.node .circle.active {
  background-color: var(--accent-color);
  opacity: 0.8;
}
.irish-stout div.node .circle.connected {
  background-color: var(--main-color);
}
.irish-stout div.node-output {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: var(--main-border);
  gap: 8px;
}
.irish-stout div.node-output:last-of-type {
  border: 0;
}
.irish-stout svg {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.irish-stout div.node-textbox {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}
.irish-stout div.node-textbox input {
  border: 1px solid #555;
  background-color: #222;
  padding: 4px 8px;
  height: 100%;
  color: #ddd;
  border-radius: 4px;
}

.irish-stout div.output-text {
  margin: 8px;
  word-wrap: break-word;
}